@page
@model BoardGameTrackerV2.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Type" class="control-label"></label>
                <select asp-items="@Html.GetEnumSelectList<BoardGameTrackerV2.Models.Game.GameType>()" asp-for="Game.Type" class="form-control">
                    <option selected="selected" value="">Select a value...</option>
                </select>
                <span asp-validation-for="Game.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.BggId" class="control-label"></label>
                <input asp-for="Game.BggId" class="form-control" />
                <span asp-validation-for="Game.BggId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
